:root {
  --insur-gray: #797979;
  --insur-gray-rgb: 121, 121, 121;
  --insur-base: #52b2cf;
  --insur-base-rgb: 82, 178, 207;
  --insur-black: #191c1e;
  --insur-black-rgb: 25, 28, 30;
  --insur-primary: #f3f3f3;
  --insur-primary-rgb: 243, 243, 243;
}
